*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    margin: 0 auto;


    max-width: 768px;
    min-width: 320px;
    width: 100%;

    background-color: #F0F0F0;

    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

section{

    width: 100%;
}

.container_img{
    position: relative;
    z-index: 0;
    

    width: 100%;
    height: 354px;

    background-color: #3F444B
}

.container_img::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 354px;
    background-color: #3F444B;
    opacity: 0.4;
    z-index: 10;
}

.container_img > img{
    width: 100%;
    height: 100%;
    background-position: center;  
    object-fit: cover;  
    background-size: cover;
    background-repeat: no-repeat;
    

}

.main_window{
    position: relative;
    z-index: 1;
    margin-top: -30px;

    border-radius: 30px 30px 0 0;
    padding: 20px;

    width: 100%;
    max-height: fit-content;
    height: 100%;

    background-color: #F0F0F0;
}

.name_location{
    display: flex;
    justify-content: space-between;

    margin-bottom: 35px;
}

.name_location > h1{
    font-size: 24px;
    color: #3F444B;

    font-weight: 600;
}

.buttonop_op{
    text-decoration: underline;
    background: none;
    border: none;

    font-size: 20px;
    color: #5386F4;

    font-weight: 600;
    cursor: pointer;
}

.history_location{
    margin-bottom: 35px;

    color: #3F444B;
}

.history_location > h2{
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 600;
}

.history_location > p{
    font-size: 14px;

    font-weight: 400;
}

.route_location > h2{
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 600;
    color: #3F444B;
}

.languages{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #F0F0F0;

    max-width: 768px;
    width: 100%;
    
    height: 100vh;
    padding: 30px;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* see notes below */
    grid-gap: 1em;
}

.item_location{
    max-width: 220px;
    min-width: 150px;
    width: 100%;
    padding: 8px;
    height: 250px;

    border-radius: 16px;

    
    background-position: center;  
    object-fit: cover;  
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
}

.location_zolotii_vorota{
    background-image: url(../img/zolotii_vorota.png);
}

.item_location > div{
    width: 100%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;

    display: flex;
    align-items: center;

    margin-top: 190px;
}




.item_location > div > h2{

    font-size: 16px;
    height: 22px;
    margin-left: 15px;
    font-weight: 500;
    opacity: 1;
    color: #F0F0F0;
}

.button-X{
    background: none;
    border: none;

    color: #C9C7BE;
    font-size: 28px;
    font-weight: 600;

    cursor: pointer;
}

.container_x-ln{
    display: flex;
    justify-content: end;
    
}

.languages > div > h1{
    font-size: 56px;

    max-width: 380px;
    min-width: 200px;
    width: 100%;
    font-weight: 600;


    color: #C9C7BE;

    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30%;
}

.container_btn-ln{
    display: grid;
}

.btn__in_container
{
    display: flex;
    padding-bottom: 20px;
}

.button-ln{

    
    background: none;
    border: none;

    cursor: pointer;
    
    margin: 10px;

    max-width: 380px;
    min-width: 200px;
    width: 100%;

    height: 60px;

    font-size: 20px;
    font-weight: 600;

    border-radius: 20px;
    color: #C9C7BE;
    border: 2px solid #C9C7BE;

    cursor: pointer;
    
    margin-bottom: 10px;
}

.button-ln-video
{

    background: none;
    border: none;

    cursor: pointer;
    
    margin: 10px;

    max-width: 380px;
    min-width: 200px;
    width: 100%;

    height: 60px;

    font-size: 20px;
    font-weight: 600;

    border-radius: 20px;

    background: #9BA5B7;
    color: #F0F0F0;

    cursor: pointer;

    margin-bottom: 10px;
}

.button-ln-video-fl{
    max-width: 100%;
    margin: 0;
    margin-bottom: 25px;
}

.button-ln-active{
    background-color: #9BA5B7;
    color: #F0F0F0;
    border: none;

    cursor: pointer;
}

.languages_none{
    display: none
}


.noscroll {
    position: fixed; 
    top: var(--st, 0);
    inline-size: 100%;
    overflow-y:scroll; 
}


.btn_home{
    position: fixed;
    top: 0;
    z-index: 2;
}

.btn_home > button{
    background: none;
    border: none;   
    cursor: pointer; 
}



@media (max-width: 425px) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* see notes below */
        grid-gap: 1em;
    }

    .item_location{
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }
    .buttonop{ font-size: 16px;}
}